<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){

            var socket = io.connect();




        })


    </script>


</head>
<body>
    <div id='main_wrapper'>
        <div id='enter'>
            <form action='/quotes' method='post'>
                <input type='text' name='name' placeholder='name'>
                <input type='text' name='quote' placeholder='quote'>
                <input type='submit' value='Add my quote!'>
            </form>
            <div id='to_quotes'><a href='/go' id='to'>to quotes</a></div>
        </div>
    </div>


</body>
</html>
