* {
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
}


#main_wrapper {
  width: 980px;
  margin: 0 auto;
}

nav {
  background-color: #3399FF;
}

a {
  text-decoration: none;

}

#back {
  color: white;
}

h3 {
  text-align: center;

}

#enter {
  border: 3px solid black;
  height: 200px;
  width: 350px;
  margin: 0 auto;
}

input {
  margin: 10px;
}

#to_quotes {
  margin: 0 auto;
  width: 75px;
  border: 2px solid black;
  border-radius: 5px;
}
#to {
  margin-left: 7px;
}
