* {
  padding: 0;
  margin: 0;
}


#main_wrapper {
  width: 500px;
  margin: 0 auto;
}

input, textarea {
  display: block;
  width: 340px;
}


#add_quote_wrapper {
  width: 350px;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1px 123px;
}
